In [3]:
import pandas as pd

df_clientes = pd.read_csv('/home/davi/ProjetoDados/data/raw/clientes.csv')
df_vendas = pd.read_csv('/home/davi/ProjetoDados/data/raw/vendas.csv')

In [4]:
df_clientes

,id_cliente,nome,email,cidade,estado
0,1,Ana Liz Marques,nsantos@example.com,Pastor da Mata,PA
1,2,Alice Sales,benjamim81@example.net,Macedo de Abreu,MA
2,3,Calebe Fernandes,lucca56@example.net,Freitas,PR
3,4,Carlos Eduardo Pimenta,irezende@example.net,Barros,RO
4,5,Ana Lívia Santos,araujoluiz-felipe@example.net,Moraes,GO
5,6,Vitória Montenegro,igor64@example.org,Garcia,MT
6,7,Hadassa Siqueira,uda-rosa@example.net,da Mota Grande,AC
7,8,Daniela Caldeira,ana-lizguerra@example.com,Siqueira de Araújo,SP
8,9,Lorenzo Castro,nataliacassiano@example.org,Lopes do Sul,RO
9,10,Maria Isis Cavalcanti,cavalcanteandre@example.com,Macedo,MG
10,11,Juan Cavalcanti,pedro-lucas87@example.com,Marques das Pedras,PA
11,12,Lívia Nogueira,ana-liviacorreia@example.com,Guerra da Mata,ES
12,13,Leonardo Casa Grande,wda-costa@example.net,Pires,SC
13,14,Lívia Castro,da-matahenrique@example.net,Rezende,AP
14,15,Isaque Gomes,oliver55@example.com,Casa Grande do Amparo,MS
15,16,Henry Novais,juanda-conceicao@example.com,Carvalho Verde,SC
16,17,Luísa Porto,joaquimdas-neves@example.com,Lopes,BA
17,18,Leandro Castro,jda-paz@example.com,Fonseca,GO
18,19,Gabriela Sampaio,isampaio@example.com,Costa da Praia,RO
19,20,Luna Gonçalves,gabrielasouza@example.net,Cirino,RR

In [6]:
df_vendas

    id_venda  id_cliente  data_venda   produto    valor
0          1           4  2025-06-10     Mouse   519.58
1          2          16  2025-07-18   Teclado   126.42
2          3           9  2025-09-23     Mouse  1996.95
3          4           4  2025-08-29     Mouse  1504.26
4          5          20  2025-06-11  Notebook   281.88
..       ...         ...         ...       ...      ...
95        96          17  2025-05-08   Headset  2795.77
96        97          10  2025-08-21   Monitor    91.59
97        98           1  2025-06-19     Mouse  2058.41
98        99           8  2025-08-09     Mouse  2107.97
99       100          17  2025-08-19   Teclado  1548.18

[100 rows x 5 columns]

In [9]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_venda    100 non-null    int64
 1   id_cliente  100 non-null    int64
 2   data_venda  100 non-null    object
 3   produto     100 non-null    object
 4   valor       100 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ KB