1. Objetivo

O objetivo deste projeto √© demonstrar um fluxo simples de ETL (Extract, Transform, Load) utilizando arquivos CSV.
O processo envolve a leitura, transforma√ß√£o, valida√ß√£o e consolida√ß√£o de dados de clientes e vendas.

2. Etapa 1 ‚Äì Extra√ß√£o (Extract)

Nesta etapa, os arquivos CSV contendo as informa√ß√µes de clientes e vendas foram carregados para o ambiente local.

In [3]:
import pandas as pd

df_clientes = pd.read_csv('/home/davi/ProjetoDados/data/raw/clientes.csv')
df_vendas = pd.read_csv('/home/davi/ProjetoDados/data/raw/vendas.csv')

In [4]:
df_clientes

,id_cliente,nome,email,cidade,estado
0,1,Ana Liz Marques,nsantos@example.com,Pastor da Mata,PA
1,2,Alice Sales,benjamim81@example.net,Macedo de Abreu,MA
2,3,Calebe Fernandes,lucca56@example.net,Freitas,PR
3,4,Carlos Eduardo Pimenta,irezende@example.net,Barros,RO
4,5,Ana L√≠via Santos,araujoluiz-felipe@example.net,Moraes,GO
5,6,Vit√≥ria Montenegro,igor64@example.org,Garcia,MT
6,7,Hadassa Siqueira,uda-rosa@example.net,da Mota Grande,AC
7,8,Daniela Caldeira,ana-lizguerra@example.com,Siqueira de Ara√∫jo,SP
8,9,Lorenzo Castro,nataliacassiano@example.org,Lopes do Sul,RO
9,10,Maria Isis Cavalcanti,cavalcanteandre@example.com,Macedo,MG
10,11,Juan Cavalcanti,pedro-lucas87@example.com,Marques das Pedras,PA
11,12,L√≠via Nogueira,ana-liviacorreia@example.com,Guerra da Mata,ES
12,13,Leonardo Casa Grande,wda-costa@example.net,Pires,SC
13,14,L√≠via Castro,da-matahenrique@example.net,Rezende,AP
14,15,Isaque Gomes,oliver55@example.com,Casa Grande do Amparo,MS
15,16,Henry Novais,juanda-conceicao@example.com,Carvalho Verde,SC
16,17,Lu√≠sa Porto,joaquimdas-neves@example.com,Lopes,BA
17,18,Leandro Castro,jda-paz@example.com,Fonseca,GO
18,19,Gabriela Sampaio,isampaio@example.com,Costa da Praia,RO
19,20,Luna Gon√ßalves,gabrielasouza@example.net,Cirino,RR

In [6]:
df_vendas

    id_venda  id_cliente  data_venda   produto    valor
0          1           4  2025-06-10     Mouse   519.58
1          2          16  2025-07-18   Teclado   126.42
2          3           9  2025-09-23     Mouse  1996.95
3          4           4  2025-08-29     Mouse  1504.26
4          5          20  2025-06-11  Notebook   281.88
..       ...         ...         ...       ...      ...
95        96          17  2025-05-08   Headset  2795.77
96        97          10  2025-08-21   Monitor    91.59
97        98           1  2025-06-19     Mouse  2058.41
98        99           8  2025-08-09     Mouse  2107.97
99       100          17  2025-08-19   Teclado  1548.18

[100 rows x 5 columns]

In [31]:
df_vendas.info()
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_venda    100 non-null    int64
 1   id_cliente  100 non-null    int64
 2   data_venda  100 non-null    datetime64[ns]
 3   produto     100 non-null    object
 4   valor       100 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 4.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  20 non-null     int64
 1   nome        20 non-null     object
 2   email       20 non-null     object
 3   cidade      20 non-null     object
 4   estado      20 non-null     object
dtypes: int64(1), object(4)
memory usage: 928.0+ bytes

In [30]:
df_vendas.describe()

         id_venda  id_cliente           data_venda        valor
count  100.000000  100.000000                  100   100.000000
mean    50.500000   10.240000  2025-08-03 19:12:00  1438.908600
min      1.000000    1.000000  2025-05-01 00:00:00    77.590000
25%     25.750000    5.000000  2025-06-12 12:00:00   731.362500
50%     50.500000   10.000000  2025-08-15 00:00:00  1367.925000
75%     75.250000   15.000000  2025-09-15 00:00:00  2117.957500
max    100.000000   20.000000  2025-10-29 00:00:00  2992.210000
std     29.011492    6.116908                  NaN   916.942124

3. Etapa 2 ‚Äì Transforma√ß√£o (Transform)

Nesta etapa foram aplicadas transforma√ß√µes para preparar os dados para an√°lise e integra√ß√£o.

üßπ 3.1 Ajuste de tipos de dados

A coluna data_venda foi convertida de object para datetime, garantindo que opera√ß√µes temporais sejam poss√≠veis.

In [15]:
df_vendas['data_venda'] = pd.to_datetime(df_vendas['data_venda'])
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_venda    100 non-null    int64
 1   id_cliente  100 non-null    int64
 2   data_venda  100 non-null    datetime64[ns]
 3   produto     100 non-null    object
 4   valor       100 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 4.0+ KB

üîó 3.2 Verifica√ß√£o de integridade

Verificar se todos os id_cliente presentes na tabela de vendas existem na tabela de clientes.

In [11]:
df_vendas['id_cliente'].isin(df_clientes['id_cliente'])

0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Name: id_cliente, Length: 100, dtype: bool

üîÄ 3.3 Jun√ß√£o das tabelas

As tabelas de clientes e vendas foram unificadas utilizando merge com base no id_cliente.

In [ ]:
df = pd.merge(df_clientes, df_vendas, on='id_cliente', how='left')

np.int64(0)

In [23]:
df.duplicated().sum() 

df.isna().sum()

id_cliente    0
nome          0
email         0
cidade        0
estado        0
id_venda      0
data_venda    0
produto       0
valor         0
dtype: int64

4. Etapa 3 ‚Äì Carga (Load)

Ap√≥s as valida√ß√µes, o dataset consolidado foi salvo em um novo arquivo CSV.

5. Conclus√£o

Este projeto demonstra um fluxo simples e eficiente de ETL utilizando pandas.
Foram aplicadas boas pr√°ticas de:

Leitura e inspe√ß√£o de dados

Convers√£o de tipos

Verifica√ß√£o de integridade e qualidade

Consolida√ß√£o e exporta√ß√£o final

In [ ]:
df.to_csv('/home/davi/ProjetoDados/data/processed/vendas_clientes.csv', index=False)

In [26]:
url = '/home/davi/ProjetoDados/data/processed/vendas_clientes.csv'
df_processed = pd.read_csv(url)

In [28]:
df_processed

,id_cliente,nome,email,cidade,estado,id_venda,data_venda,produto,valor
0,1,Ana Liz Marques,nsantos@example.com,Pastor da Mata,PA,34,2025-09-08,Teclado,2659.77
1,1,Ana Liz Marques,nsantos@example.com,Pastor da Mata,PA,50,2025-10-16,Teclado,2147.92
2,1,Ana Liz Marques,nsantos@example.com,Pastor da Mata,PA,83,2025-09-15,Monitor,1332.15
3,1,Ana Liz Marques,nsantos@example.com,Pastor da Mata,PA,85,2025-05-29,Headset,1612.20
4,1,Ana Liz Marques,nsantos@example.com,Pastor da Mata,PA,93,2025-05-23,Mouse,938.45
...,...,...,...,...,...,...,...,...,...
95,20,Luna Gon√ßalves,gabrielasouza@example.net,Cirino,RR,57,2025-05-04,Mouse,810.60
96,20,Luna Gon√ßalves,gabrielasouza@example.net,Cirino,RR,61,2025-10-09,Notebook,94.39
97,20,Luna Gon√ßalves,gabrielasouza@example.net,Cirino,RR,73,2025-09-28,Monitor,199.96
98,20,Luna Gon√ßalves,gabrielasouza@example.net,Cirino,RR,75,2025-10-23,Teclado,807.57
99,20,Luna Gon√ßalves,gabrielasouza@example.net,Cirino,RR,79,2025-10-14,Headset,813.09